.one{display: flex; justify-content: space-between;
align-items: center; background-color: black;}
.getstarted{background-color: #ed661f;font-weight: 300;}
.name{color: white;}
.homepage{color: white;}
.about{color: white}
.products{color: white;}
.contact{color: white;}
.login{color: white;}

.two{display:flex;
background-image: url(styles/assets/assets1/image1.png);background-position: center;

}


.research{display: flex;
justify-items: center; justify-content: space-between;}








.last{display: flex;background-color: #ed661f;

}
.END{float: inline-end;}