.one{display: flex; justify-content: space-between;
align-items: center; background-color: black;}
.getstarted{background-color: #ed661f;font-weight: 300;}
.name{}








.last{display: flex;background-color: #ed661f;

}
.END{float: inline-end;}