.one{display: flex; justify-content: space-between;
align-items: center; background-color: black;}
.getstarted{background-color: #ed661f;font-weight: 300;}
.name{color: white;}
.homepage{color: white;}
.about{color: white}
.products{color: white;}
.contact{color: white;}
.login{color: white;}

.two{display:flex;
background-image: url(styles/assets/assets1/image1.png);background-position: center;
background-repeat: no-repeat;
}


.research{display: flex;
justify-items: center; justify-content:center;
box-sizing: border-box; border: 10px black:}

.three{display: flex; justify-content: space-between;
    border-radius: 10px;
}
.four{text-align: center; text-decoration: wavy; font-style: italic;}
.most{text-align: left;
text-decoration: line-through; text-decoration: #ed661f;}

.pic3456{display: flex;
justify-content: space-between;}

.newest{text-align: left;

}

.pic78910{ display: flex; justify-content: space-between;
}
 .see{ text-align: right;}







.last{display: flex;background-color:black; justify-content: space-between;

}
.terms{color:white}
.dairy{color: white;}
.about{color: white;}

.END{float: inline-end;}